AI Job Application Tracker.json
{
  "name": "AI Job Application Tracker",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": ""
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e3fe64a0-f92c-4065-a11a-a550657b6873",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "LgtIGm1zcpoZQJjE",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "claude-3-haiku-20240307"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a job application analyst. Analyze the following email and extract job information.\n\nEmail Subject: {{ $json.subject }}\nEmail Body: {{ $json.snippet }}\n\nReturn ONLY a valid JSON object in this exact format, nothing else:\n{\n  \"company\": \"company name or Unknown\",\n  \"jobTitle\": \"job title or Unknown\",\n  \"fitScore\": \"score from 1-10 based on how senior/entry level the role is\",\n  \"keySkills\": \"comma separated list of required skills\",\n  \"experienceRequired\": \"years of experience required or Not specified\",\n  \"status\": \"New\"\n}"
            }
          ]
        },
        "options": {
          "maxTokens": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "59941d96-ce9b-416c-adc5-fec3e81a679c",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "oQhylHSLV3dtR01D",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "55b29479-8ed8-40f5-abc8-278a09c8c5a7",
              "leftValue": "={{ $json.content[0] }}",
              "rightValue": "Unknown",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ true }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        0
      ],
      "id": "5778e6a9-f59f-4f3f-8595-b320f6c76909",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.content[0].text;\nconst jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/) ?? '';\nconst parsed = JSON.parse(jsonMatch[0]);\n\nreturn {\n  json: {\n    date: new Date().toLocaleDateString(),\n    company: parsed.company,\n    jobTitle: parsed.jobTitle,\n    fitScore: parsed.fitScore,\n    keySkills: parsed.keySkills,\n    experienceRequired: parsed.experienceRequired,\n    status: parsed.status,\n    emailSubject: parsed.jobTitle + ' at ' + parsed.company\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        96
      ],
      "id": "83990969-1305-4e06-9ad5-c2830652f0a5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11XmYmZRio-QcPFsSdE9x9LcLiddr00sKbt_YUz5SdBI",
          "mode": "list",
          "cachedResultName": "AI Job Application Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XmYmZRio-QcPFsSdE9x9LcLiddr00sKbt_YUz5SdBI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XmYmZRio-QcPFsSdE9x9LcLiddr00sKbt_YUz5SdBI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "=\t{{ $json.date }}",
            "COMPANY": "={{ $json.company }}",
            "FIT SCORE": "={{ $json.fitScore }}",
            "JOB TITLE": "={{ $json.jobTitle }}",
            "KEY SKILLS REQUIRED": "={{ $json.keySkills }}",
            "EXPERIENCE REQUIRED": "=\t{{ $json.experienceRequired }}",
            "STATUS": "=\t{{ $json.status }}",
            "EMAIL SUBJECT": "={{ $json.emailSubject }}"
          },
          "matchingColumns": [
            "DATE"
          ],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "COMPANY",
              "displayName": "COMPANY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "JOB TITLE",
              "displayName": "JOB TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FIT SCORE",
              "displayName": "FIT SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "KEY SKILLS REQUIRED",
              "displayName": "KEY SKILLS REQUIRED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EXPERIENCE REQUIRED",
              "displayName": "EXPERIENCE REQUIRED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL SUBJECT",
              "displayName": "EMAIL SUBJECT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        96
      ],
      "id": "b38ac6d7-12d7-4f31-a3a2-d3f39fab2a2b",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HEL30G3E35xzqjAS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "49e3d180-e6e2-4a78-b694-aa48eb67c795",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14477693ce5aa39be6f0e391d79aed75da6d2e3066f8ce1a22c39282730e1aba"
  },
  "id": "QH1nQKqs0pV0pJ3D",
  "tags": []
}