sales pipeline.json
{"name":"AI Sales Multi-Agent","nodes":[{"parameters":{"httpMethod":"POST","path":"new-lead","responseMode":"responseNode","options":{}},"id":"node-1","name":"New Lead Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300]},{"parameters":{"jsCode":"const body = $input.all()[0].json.body;\nreturn [{ json: { name: body.name, email: body.email, company: body.company, industry: body.industry, message: body.message } }];"},"id":"node-2","name":"Extract Lead Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"YOUR_ANTHROPIC_API_KEY"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"expression","body":"={{ JSON.stringify({ model: 'claude-3-haiku-20240307', max_tokens: 1024, messages: [{ role: 'user', content: 'You are a B2B sales qualifier. Analyze this lead and return ONLY valid JSON with these exact fields: score (number 0-100), tier (Hot/Warm/Cold), reasoning (string), recommended_action (string). Lead details - Name: ' + $json.name + ', Company: ' + $json.company + ', Industry: ' + $json.industry + ', Message: ' + $json.message }] }) }}"},"id":"node-3","name":"Agent 1 - Lead Qualifier","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,300]},{"parameters":{"jsCode":"const response = $input.all()[0].json;\nconst content = response.content[0].text;\nlet qualification;\ntry {\n  qualification = JSON.parse(content);\n} catch(e) {\n  const start = content.indexOf('{');\n  const end = content.lastIndexOf('}');\n  qualification = JSON.parse(content.substring(start, end + 1));\n}\nconst lead = $('Extract Lead Data').first().json;\nreturn [{ json: { lead, qualification } }];"},"id":"node-4","name":"Parse Qualification","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"YOUR_ANTHROPIC_API_KEY"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"expression","body":"={{ JSON.stringify({ model: 'claude-3-haiku-20240307', max_tokens: 1024, messages: [{ role: 'user', content: 'You are a B2B sales researcher. Research this company and return ONLY valid JSON with these exact fields: pain_points (array of 3 strings), value_propositions (array of 2 strings), talking_points (array of 2 strings), potential_objections (array of 2 strings), company_context (string). Company: ' + $json.lead.company + ', Industry: ' + $json.lead.industry + ', Message: ' + $json.lead.message }] }) }}"},"id":"node-5","name":"Agent 2 - Research Agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1050,300]},{"parameters":{"jsCode":"const response = $input.all()[0].json;\nconst content = response.content[0].text;\nlet research;\ntry {\n  research = JSON.parse(content);\n} catch(e) {\n  const start = content.indexOf('{');\n  const end = content.lastIndexOf('}');\n  research = JSON.parse(content.substring(start, end + 1));\n}\nconst prevData = $('Parse Qualification').first().json;\nreturn [{ json: { ...prevData, research } }];"},"id":"node-6","name":"Parse Research","type":"n8n-nodes-base.code","typeVersion":2,"position":[1250,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"YOUR_ANTHROPIC_API_KEY"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"expression","body":"={{ JSON.stringify({ model: 'claude-3-haiku-20240307', max_tokens: 2048, messages: [{ role: 'user', content: 'You are a B2B sales copywriter. Write a personalised cold email and return ONLY valid JSON with these exact fields: subject (string), body (string), cta (string). Lead Name: ' + $json.lead.name + ', Company: ' + $json.lead.company + ', Pain Points: ' + $json.research.pain_points.join(', ') + ', Value Props: ' + $json.research.value_propositions.join(', ') }] }) }}"},"id":"node-7","name":"Agent 3 - Outreach Writer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1450,300]},{"parameters":{"jsCode":"const response = $input.all()[0].json;\nconst content = response.content[0].text;\nlet email;\ntry {\n  email = JSON.parse(content);\n} catch(e) {\n  const start = content.indexOf('{');\n  const end = content.lastIndexOf('}');\n  email = JSON.parse(content.substring(start, end + 1));\n}\nconst prevData = $('Parse Research').first().json;\nreturn [{ json: { ...prevData, email } }];"},"id":"node-8","name":"Parse Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1650,300]},{"parameters":{"sendTo":"={{ $json.lead.email }}","subject":"={{ $json.email.subject }}","emailType":"text","message":"={{ $json.email.body }}","options":{}},"id":"node-9","name":"Send Outreach Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1850,100]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"YOUR_AIRTABLE_BASE_ID","mode":"id"},"table":{"__rl":true,"value":"Sales Pipeline","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Lead Name":"={{ $json.lead.name }}","Company":"={{ $json.lead.company }}","Email":"={{ $json.lead.email }}","Industry":"={{ $json.lead.industry }}","Score":"={{ $json.qualification.score }}","Tier":"={{ $json.qualification.tier }}","Status":"New","Reasoning":"={{ $json.qualification.reasoning }}","Email Subject Sent":"={{ $json.email.subject }}","Date Added":"={{ new Date().toISOString() }}"}}},"id":"node-10","name":"Log to Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1850,300]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"YOUR_SLACK_CHANNEL_ID","mode":"id"},"text":"={{ '🔥 *New Lead!*\\n👤 *Name:* ' + $json.lead.name + '\\n🏢 *Company:* ' + $json.lead.company + '\\n📊 *Score:* ' + $json.qualification.score + '/100\\n🎯 *Tier:* ' + $json.qualification.tier + '\\n✅ *Action:* ' + $json.qualification.recommended_action }}","otherOptions":{}},"id":"node-11","name":"Slack Notify Team","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1850,500]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, lead: $json.lead.name, score: $json.qualification.score, tier: $json.qualification.tier }) }}"},"id":"node-12","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1850,700]}],"connections":{"New Lead Webhook":{"main":[[{"node":"Extract Lead Data","type":"main","index":0}]]},"Extract Lead Data":{"main":[[{"node":"Agent 1 - Lead Qualifier","type":"main","index":0}]]},"Agent 1 - Lead Qualifier":{"main":[[{"node":"Parse Qualification","type":"main","index":0}]]},"Parse Qualification":{"main":[[{"node":"Agent 2 - Research Agent","type":"main","index":0}]]},"Agent 2 - Research Agent":{"main":[[{"node":"Parse Research","type":"main","index":0}]]},"Parse Research":{"main":[[{"node":"Agent 3 - Outreach Writer","type":"main","index":0}]]},"Agent 3 - Outreach Writer":{"main":[[{"node":"Parse Email","type":"main","index":0}]]},"Parse Email":{"main":[[{"node":"Send Outreach Email","type":"main","index":0},{"node":"Log to Airtable","type":"main","index":0},{"node":"Slack Notify Team","type":"main","index":0},{"node":"Webhook Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}